/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define L1      1
#define L2      2
#define BTL     3

/ {

	combos {
	   compatible = "zmk,combos";
	   combo_momentary_BTL {
		  timeout-ms = <50>;
		  key-positions = <36 41>;
		  bindings = <&mo BTL>;
	   };
	   combo_L_shift_delete {
		  timeout-ms = <5>;
		  key-positions = <16 37>;
		  bindings = <&kp DELETE>;
	   };
	   combo_r_shift_delete {
		  timeout-ms = <5>;
		  key-positions = <19 37>;
		  bindings = <&kp DELETE>;
	   };
	   combo_L_shift_enter {
		  timeout-ms = <5>;
		  key-positions = <16 40>;
		  bindings = <&kp ENTER>;
	   };
	   combo_r_shift_enter {
		  timeout-ms = <5>;
		  key-positions = <19 40>;
		  bindings = <&kp ENTER>;
	   };
	};
		
    keymap {
        compatible = "zmk,keymap";
        default_layer {
         
            bindings = <
                &none       &kp Q         &kp W         &kp E         &kp R         &kp T                   &kp Y         &kp U          &kp I         &kp O           &kp P           &none
                &none       &mt LWIN A    &mt LALT S    &mt LCTRL D   &mt LSHFT F   &kp G                   &kp H         &mt LSHFT J    &mt LCTRL K   &mt LALT L      &mt LWIN SEMI   &none
                &none       &kp Z         &kp X         &kp C         &kp V         &kp B                   &kp N         &kp M          &kp COMMA     &kp DOT         &kp FSLH        &none
                                                        &mo L2        &kp BSPC      &mo L1                  &mo L1        &kp SPACE      &lt L2   TAB
            >;
        };
    	
        layer_1 {
            
    		bindings = <
                &none       &kp ESC       &kp PG_DN     &kp UP         &kp PG_UP       &none                 &kp PLUS      &kp N7         &kp N8        &kp N9          &kp ASTERISK    &none
                &none       &mt LWIN HOME &mt LALT LEFT &mt LCTRL DOWN &mt LSHFT RIGHT &kp END               &kp MINUS     &mt LSHFT N4   &mt LCTRL N5  &mt LALT N6     &mt LWIN SLASH  &none
                &none       &kp C_VOL_DN  &kp C_PP      &kp C_VOL_UP   &kp C_BRI_DEC   &kp C_BRI_INC         &kp N0        &kp N1         &kp N2        &kp N3          &kp PERIOD      &none
                                                        &mo L2         &kp BSPC        &none                 &none         &kp SPACE      &lt L2   TAB
            >;
        };
    
        layer_2 {

    		bindings = <
                &none       &kp GRAVE     &kp BACKSLASH &kp LBKT       &kp RBKT        &kp PRINTSCREEN       &kp F12       &kp F7         &kp F8        &kp F9          &none           &none
                &none       &kp LWIN      &mt LALT APOS &mt LCTRL LPAR &mt LSHFT RPAR  &kp EQUAL             &kp F11       &mt LSHFT F4   &mt LCTRL F5  &mt LALT F6     &kp LWIN        &none
                &none       &none         &none         &kp LBRC       &kp RBRC        &none                 &kp F10       &kp F1         &kp F2        &kp F3          &none           &none
                                                        &none          &kp BSPC        &mo L1                &mo L1        &kp SPACE      &kp TAB
            >;
        };
	bluetooth_layer {

    		bindings = <
                &none       &bt BT_CLR    &none         &none          &none           &none                 &reset        &none          &none         &none           &bootloader     &none
                &none       &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1   &bt BT_SEL 0    &none                 &none         &none          &none         &none           &none           &none
                &none       &none         &none         &none          &none           &none                 &none         &none          &none         &none           &none           &none
                                                        &mo L2         &kp BSPC        &mo L1                &mo L1        &kp SPACE      &lt L2   TAB
            >;
        };
    };
};
